@import "css/variables";

.appointment__file__container {
	padding: 8px 16px;
	border-radius: $border-radius;
	border: $border-primary;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.appointment__file__container__info {
		display: flex;
		align-items: center;
		gap: 8px;
	}
}
