@import "css/variables";

.provider__icon__container {
	background-color: $color-neutral;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;

	i {
		color: $color-neutral;
	}
}
